<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benewake.system.mapper.ApsFimPriorityMapper">

    <resultMap id="BaseResultMap" type="com.benewake.system.entity.ApsFimPriority">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="fProductionId" column="f_production_id" jdbcType="VARCHAR"/>
        <result property="fTaskSourceId" column="f_task_source_id" jdbcType="VARCHAR"/>
        <result property="fMaterialCode" column="f_material_code" jdbcType="VARCHAR"/>
        <result property="fReplenishmentQuantity" column="f_replenishment_quantity" jdbcType="VARCHAR"/>
        <result property="fExpectedStartTime" column="f_expected_start_time" jdbcType="VARCHAR"/>
        <result property="fRequiredDeliveryTime" column="f_required_delivery_time" jdbcType="VARCHAR"/>
        <result property="fPriority" column="f_priority" jdbcType="VARCHAR"/>
        <result property="fContainedSalesOrders" column="f_contained_sales_orders" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="ApsFimPriorityDtoResultMap" type="com.benewake.system.entity.dto.ApsFimPriorityDto">
        <id property="id" column="id"/>
        <result property="productionId" column="f_production_id"/>
        <result property="taskSourceId" column="f_task_source_id"/>
        <result property="mterialCode" column="f_material_code"/>
        <result property="materialName" column="materialName"/>
        <result property="replenishmentQuantity" column="f_replenishment_quantity"/>
        <result property="expectedStartTime" column="f_expected_start_time"/>
        <result property="requiredDeliveryTime" column="f_required_delivery_time"/>
        <result property="priority" column="f_priority"/>
        <result property="containedSalesOrders" column="f_contained_sales_orders"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,f_production_id,f_task_source_id,
        f_material_code,f_material_name,f_replenishment_quantity,
        f_expected_start_time,f_required_delivery_time,f_priority,
        f_contained_sales_orders,version
    </sql>
    <select id="selectPageList" resultMap="ApsFimPriorityDtoResultMap">
        SELECT pri.id,
               f_production_id,
               f_task_source_id,
               f_material_code,
               map.f_material_name,
               f_replenishment_quantity,
               f_expected_start_time,
               f_required_delivery_time,
               f_priority,
               f_contained_sales_orders,
               version
        FROM aps_fim_priority AS pri
                 LEFT JOIN aps_material_name_mapping AS map ON pri.f_material_code = map.f_material_id
        where version = #{apsTableVersion}
    </select>
    <select id="getFimPriorityFiltrate" resultMap="ApsFimPriorityDtoResultMap">
        SELECT pri.id,
               f_production_id,
               f_task_source_id,
               f_material_code,
               map.f_material_name as f_material_name,
               f_replenishment_quantity,
               f_expected_start_time,
               f_required_delivery_time,
               f_priority,
               f_contained_sales_orders,
               version
        FROM aps_fim_priority AS pri
                 LEFT JOIN aps_material_name_mapping AS map ON pri.f_material_code = map.f_material_id
            ${ew.customSqlSegment}
    </select>
    <select id="searchLike" resultMap="ApsFimPriorityDtoResultMap">
        SELECT DISTINCT ${ew.sqlSelect}
        FROM aps_fim_priority AS pri
                 LEFT JOIN aps_material_name_mapping AS map ON pri.f_material_code = map.f_material_id
            ${ew.customSqlSegment}
    </select>
</mapper>
