<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benewake.system.mapper.ApsInventoryLockMapper">

    <resultMap id="BaseResultMap" type="com.benewake.system.entity.ApsInventoryLock">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="fMaterialId" column="f_material_id" jdbcType="VARCHAR"/>
            <result property="fExpiryDate" column="f_expiry_date" jdbcType="DATE"/>
            <result property="fLockQty" column="f_lock_qty" jdbcType="INTEGER"/>
            <result property="fLot" column="f_lot" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,f_material_id,f_expiry_date,
        f_lock_qty,f_lot,version
    </sql>
    <select id="selectVersionPageList" resultType="com.benewake.system.entity.Interface.ApsInventoryLockMultipleVersions">
        SELECT *
        from
        <foreach collection="versions" item="item" index="index" open="(" separator=" UNION ALL " close=")">
            SELECT * ,#{item.chVersionName} as ch_version_name FROM aps_inventory_lock WHERE version =
            #{item.version}
        </foreach>
        AS derived_table
        ORDER BY f_lot, version DESC
        limit #{pass},#{size};
    </select>

</mapper>
