<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benewake.system.mapper.ApsImmediatelyInventoryMapper">

    <resultMap id="BaseResultMap" type="com.benewake.system.entity.ApsImmediatelyInventory">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="fMaterialId" column="f_material_id" jdbcType="VARCHAR"/>
        <result property="fStockName" column="f_stock_name" jdbcType="VARCHAR"/>
        <result property="fBaseQty" column="f_base_qty" jdbcType="INTEGER"/>
        <result property="fAvbQty" column="f_avb_qty" jdbcType="INTEGER"/>
        <result property="fLot" column="f_lot" jdbcType="VARCHAR"/>
        <result property="fExpiryDate" column="f_expiry_date" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,f_material_id,f_stock_name,
        f_base_qty,f_avb_qty,f_lot,
        f_expiry_date,version
    </sql>

    <select id="selectVersionPageList" resultType="com.benewake.system.entity.Interface.ApsImmediatelyInventory">
        SELECT *
        from
        <foreach collection="versions" item="item" index="index" open="(" separator=" UNION ALL " close=")">
            SELECT * ,#{item.chVersionName} as ch_version_name FROM aps_immediately_inventory WHERE version =
            #{item.version}
        </foreach>
        AS derived_table
        ORDER BY f_lot, version DESC
        limit #{pass},#{size};
    </select>

</mapper>
