<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benewake.system.mapper.ApsMaterialBomMapper">

    <resultMap id="BaseResultMap" type="com.benewake.system.entity.ApsMaterialBom">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="fMaterialId" column="f_material_id" jdbcType="VARCHAR"/>
        <result property="fDocumentStatus" column="f_document_status" jdbcType="VARCHAR"/>
        <result property="fMaterialIdChild" column="f_material_id_child" jdbcType="VARCHAR"/>
        <result property="fReplaceGroupBop" column="f_replace_group_bop" jdbcType="VARCHAR"/>
        <result property="fNumerator" column="f_numerator" jdbcType="VARCHAR"/>
        <result property="fDenominator" column="f_denominator" jdbcType="VARCHAR"/>
        <result property="fFixScrapQtyLot" column="f_fix_scrap_qty_lot" jdbcType="VARCHAR"/>
        <result property="fMaterialType" column="f_material_type" jdbcType="VARCHAR"/>
        <result property="fReplaceType" column="f_replace_type" jdbcType="VARCHAR"/>
        <result property="fScrapRate" column="f_scrap_rate" jdbcType="VARCHAR"/>
        <result property="process" column="process" jdbcType="VARCHAR"/>
        <result property="bomVersion" column="bom_version" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,f_material_id,f_material_name,
        f_document_status,f_material_id_child,f_material_name_child,
        f_replace_group_bop,f_numerator,f_denominator,
        f_fix_scrap_qty_lot,f_material_type,f_replace_type,
        f_scrap_rate,process,bom_version,
        version
    </sql>

    <select id="selectListNotDelete" resultType="com.benewake.system.entity.ApsMaterialBom">
        SELECT *
        FROM `aps_material_bom`
        WHERE
        <if test="deleteList != null and deleteList.size() > 0">
            (
            <foreach collection="deleteList" item="item" index="index" open="" separator=" OR " close="">
                (f_material_id = #{item.FParentMaterialId} AND f_material_id_child = #{item.FMATERIALIDCHILD})
            </foreach>
            ) AND
        </if>
        version = (
        SELECT MAX(version)
        FROM `aps_material_bom`
        )
    </select>
    <select id="selectPageList" resultType="com.benewake.system.entity.dto.ApsMaterialBomDto">
        SELECT
        bom.id,
        bom.f_material_id,
        map.f_material_name,
        f_document_status,
        bom.f_material_id_child,
        map1.f_material_name AS f_material_name_child,
        f_replace_group_bop,
        f_numerator,
        f_denominator,
        f_fix_scrap_qty_lot,
        f_material_type,
        f_replace_type,
        f_scrap_rate,
        process,
        bom_version,
        ch_version_name AS version
        FROM
        (
        SELECT *,
        CASE
        <foreach collection="versions" item="item" separator=" ">
            WHEN version = #{item.version} THEN #{item.chVersionName}
        </foreach>
        ELSE NULL
        END AS ch_version_name
        FROM aps_material_bom
        WHERE version IN
        <foreach collection="versions" item="item" open="(" separator="," close=")">
            #{item.version}
        </foreach>
        ) AS bom
        LEFT JOIN aps_material_name_mapping AS map ON bom.f_material_id = map.f_material_id
        LEFT JOIN aps_material_name_mapping AS map1 ON bom.f_material_id_child = map1.f_material_id
        ORDER BY bom.version desc
    </select>

    <insert id="insertListNotDelete">
        INSERT INTO `aps_material_bom` (
        f_material_id,
        f_document_status,f_material_id_child,
        f_replace_group_bop,f_numerator,f_denominator,
        f_fix_scrap_qty_lot,f_material_type,f_replace_type,
        f_scrap_rate,process,bom_version,
        version
        )
        SELECT
        f_material_id,
        f_document_status,f_material_id_child,
        f_replace_group_bop,f_numerator,f_denominator,
        f_fix_scrap_qty_lot,f_material_type,f_replace_type,
        f_scrap_rate,process,bom_version, (SELECT MAX(version) + 1 FROM `aps_material_bom`)
        FROM `aps_material_bom`
        WHERE
        -- 根据您的条件生成查询条件，注意使用了删除列表的条件
        <if test="deleteList != null and deleteList.size() > 0">
            (
            <foreach collection="deleteList" item="item" index="index" open="" separator=" OR " close="">
                (f_material_id = #{item.FParentMaterialId} AND f_material_id_child = #{item.FMATERIALIDCHILD})
            </foreach>
            ) AND
        </if>
        version = (SELECT MAX(version) FROM `aps_material_bom`);

    </insert>
    <insert id="insertSelectVersionIncr">
        INSERT INTO `aps_material_bom` (f_material_id,
                                        f_document_status, f_material_id_child,
                                        f_replace_group_bop, f_numerator, f_denominator,
                                        f_fix_scrap_qty_lot, f_material_type, f_replace_type,
                                        f_scrap_rate, process, bom_version,
                                        version)
        select f_material_id,
               f_document_status,
               f_material_id_child,
               f_replace_group_bop,
               f_numerator,
               f_denominator,
               f_fix_scrap_qty_lot,
               f_material_type,
               f_replace_type,
               f_scrap_rate,
               process,
               bom_version,
               version + 1
        from aps_material_bom
        where version = (select max(version) from aps_material_bom)
    </insert>


</mapper>
