<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benewake.system.mapper.ApsMaterialMapper">

    <resultMap id="BaseResultMap" type="com.benewake.system.entity.ApsMaterial">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="fMaterialId" column="f_material_id" jdbcType="VARCHAR"/>
            <result property="fMaterialName" column="f_material_name" jdbcType="VARCHAR"/>
            <result property="fSubReqBillNo" column="f_sub_req_bill_no" jdbcType="VARCHAR"/>
            <result property="fMaterialId2" column="f_material_id2" jdbcType="VARCHAR"/>
            <result property="fMaterialName2" column="f_material_name2" jdbcType="VARCHAR"/>
            <result property="fMaterialType" column="f_material_type" jdbcType="VARCHAR"/>
            <result property="fMustQty" column="f_must_qty" jdbcType="VARCHAR"/>
            <result property="fPickedQty" column="f_picked_qty" jdbcType="VARCHAR"/>
            <result property="fGoodReturnQty" column="f_good_return_qty" jdbcType="VARCHAR"/>
            <result property="fProcessDefectReturnQty" column="f_process_defect_return_qty" jdbcType="VARCHAR"/>
            <result property="fDzmaterialId" column="f_dzmaterial_id" jdbcType="VARCHAR"/>
            <result property="formName" column="form_name" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,f_material_id,f_material_name,
        f_sub_req_bill_no,f_material_id2,f_material_name2,
        f_material_type,f_must_qty,f_picked_qty,
        f_good_return_qty,f_process_defect_return_qty,f_dzmaterial_id,
        form_name,version
    </sql>
</mapper>
