<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benewake.system.mapper.ApsProductionOrderMapper">

    <resultMap id="BaseResultMap" type="com.benewake.system.entity.ApsProductionOrder">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="fBillNo" column="f_bill_no" jdbcType="VARCHAR"/>
        <result property="fBillType" column="f_bill_type" jdbcType="VARCHAR"/>
        <result property="fBillTypeId" column="f_bill_type_id" jdbcType="VARCHAR"/>
        <result property="fMaterialId" column="f_material_id" jdbcType="VARCHAR"/>
        <result property="fQty" column="f_qty" jdbcType="VARCHAR"/>
        <result property="fStatus" column="f_status" jdbcType="VARCHAR"/>
        <result property="fPickMtrlStatus" column="f_pick_mtrl_status" jdbcType="VARCHAR"/>
        <result property="fStockInQuaAuxQty" column="f_stock_in_qua_aux_qty" jdbcType="VARCHAR"/>
        <result property="fBomId" column="f_bom_id" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>
    <insert id="insertSelectVersionIncr">
        insert into aps_production_order(f_bill_no,
                                         f_bill_type,
                                         f_bill_type_id,
                                         f_material_id,
                                         f_qty,
                                         f_status,
                                         f_pick_mtrl_status,
                                         f_stock_in_qua_aux_qty,
                                         f_bom_id,
                                         planned_completion_time,
                                         version)
        select f_bill_no,
               f_bill_type,
               f_bill_type_id,
               f_material_id,
               f_qty,
               f_status,
               f_pick_mtrl_status,
               f_stock_in_qua_aux_qty,
               f_bom_id,
               planned_completion_time,
               version + 1
        from aps_production_order
        where version = (select max(version) from aps_production_order)
    </insert>


    <select id="selectVersionPageList"
            resultType="com.benewake.system.entity.Interface.ApsProductionOrderMultipleVersions">
        SELECT *
        from
        <foreach collection="versions" item="item" index="index" open="(" separator=" UNION ALL " close=")">
            SELECT * ,#{item.chVersionName} as ch_version_name FROM aps_production_order WHERE version =
            #{item.version}
        </foreach>
        AS derived_table
        ORDER BY f_lot, version DESC
        limit #{pass},#{size};
    </select>
    <select id="selectPageList" resultType="com.benewake.system.entity.dto.ApsProductionOrderDto">
        SELECT
        ord.id,
        f_bill_no,
        f_bill_type,
        f_bill_type_id,
        ord.f_material_id,
        map.f_material_name,
        f_qty,
        f_status,
        f_pick_mtrl_status,
        f_stock_in_qua_aux_qty,
        f_bom_id,
        planned_completion_time,
        ord.ch_version_name as version
        FROM
        <foreach collection="versions" item="item" index="index" open="(" separator=" UNION ALL " close=")">
            SELECT * ,#{item.chVersionName} as ch_version_name FROM aps_production_order WHERE version =
            #{item.version}
        </foreach>
        AS ord
        LEFT JOIN aps_material_name_mapping AS map ON ord.f_material_id = map.f_material_id
    </select>
</mapper>
