<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benewake.system.mapper.ApsPcbaBurnMapper">

    <resultMap id="BaseResultMap" type="com.benewake.system.entity.ApsPcbaBurn">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="productionOrderNumber" column="production_order_number" jdbcType="VARCHAR"/>
        <result property="materialCode" column="material_code" jdbcType="VARCHAR"/>
        <result property="totalNumber" column="total_number" jdbcType="VARCHAR"/>
        <result property="burnInCompletionQuantity" column="burn_in_completion_quantity" jdbcType="VARCHAR"/>
        <result property="burnQualifiedCount" column="burn_qualified_count" jdbcType="VARCHAR"/>
        <result property="unBurnQualifiedCount" column="un_burn_qualified_count" jdbcType="VARCHAR"/>
        <result property="burnFixtureNumber" column="burn_fixture_number" jdbcType="VARCHAR"/>
        <result property="burnFixtureId" column="burn_fixture_id" jdbcType="INTEGER"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,production_order_number,material_code,
        material_name,burn_in_completion_quantity,burn_qualified_count,
        burn_fixture_number,version
    </sql>
    <insert id="insertSelectVersionIncr">
        INSERT INTO aps_pcba_burn (production_order_number, material_code, material_name, burn_in_completion_quantity,
                                   burn_qualified_count, burn_fixture_number, version)
        SELECT production_order_number,
               material_code,
               material_name,
               burn_in_completion_quantity,
               burn_qualified_count,
               burn_fixture_number,
               version + 1
        FROM `aps_pcba_burn`
        WHERE version = (
            SELECT max(version)
            FROM aps_pcba_burn)
    </insert>
    <select id="selectPageList" resultType="com.benewake.system.entity.dto.ApsPcbaBurnDto">
        SELECT
        burn.id,production_order_number,material_code,
        map.f_material_name as material_name,total_number,burn_in_completion_quantity,
        burn_qualified_count,un_burn_qualified_count,burn_fixture_number,
        burn_fixture_id,
        ch_version_name AS version
        FROM
        (
        SELECT *,
        CASE
        <foreach collection="versions" item="item" separator=" ">
            WHEN version = #{item.version} THEN #{item.chVersionName}
        </foreach>
        END AS ch_version_name
        FROM aps_pcba_burn
        WHERE version IN
        <foreach collection="versions" item="item" open="(" separator="," close=")">
            #{item.version}
        </foreach>
        ) AS burn
        LEFT JOIN
        aps_material_name_mapping AS map ON burn.material_code = map.f_material_id
        ORDER BY burn.version desc
    </select>
</mapper>
