<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benewake.system.mapper.ApsPurchaseOrderMapper">

    <resultMap id="BaseResultMap" type="com.benewake.system.entity.ApsPurchaseOrder">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="fBillNo" column="f_bill_no" jdbcType="VARCHAR"/>
        <result property="fMaterialId" column="f_material_id" jdbcType="VARCHAR"/>
        <result property="fRemainReceiveQty" column="f_remain_receive_qty" jdbcType="VARCHAR"/>
        <result property="fDeliveryDate" column="f_delivery_date" jdbcType="TIMESTAMP"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,f_bill_no,f_material_id,
       f_remain_receive_qty,f_delivery_date,
        version
    </sql>
    <insert id="insertSelectVersionIncr">
        insert into aps_purchase_order(f_bill_no, f_material_id,
                                       f_remain_receive_qty, f_delivery_date,
                                       version)
        select f_bill_no,
               f_material_id,
               f_remain_receive_qty,
               f_delivery_date,
               version
        from aps_purchase_order
        where version = (select max(version) from aps_purchase_order)
    </insert>

    <select id="selectPageList" resultType="com.benewake.system.entity.dto.ApsPurchaseOrderDto">
        SELECT
        ord.id,
        f_bill_no,
        ord.f_material_id,
        map.f_material_name,
        f_remain_receive_qty,
        f_delivery_date,
        ch_version_name AS version
        FROM
        (
        SELECT *,
        CASE
        <foreach collection="versions" item="item" separator=" ">
            WHEN version = #{item.version} THEN #{item.chVersionName}
        </foreach>
        ELSE NULL
        END AS ch_version_name
        FROM aps_purchase_order
        WHERE version IN
        <foreach collection="versions" item="item" open="(" separator="," close=")">
            #{item.version}
        </foreach>
        ) AS ord
        LEFT JOIN aps_material_name_mapping AS map ON ord.f_material_id = map.f_material_id
        ORDER BY ord.version desc
    </select>
</mapper>
