<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benewake.system.mapper.ApsProcessNamePoolMapper">

    <resultMap id="BaseResultMap" type="com.benewake.system.entity.ApsProcessNamePool">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="processName" column="process_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,process_name
    </sql>

    <select id="selectPages" resultType="com.benewake.system.entity.vo.ApsProcessNamePoolVo">
        SELECT
        *
        FROM
        aps_process_name_pool
        <if test="ew != null and ew.sqlSegment != null and ew.sqlSegment.trim().length() > 0">
            ${ew.customSqlSegment}
        </if>
    </select>

    <select id="searchLike" resultType="com.benewake.system.entity.vo.ApsProcessNamePoolVo">
        select
        ${ew.sqlSelect}
        from aps_process_name_pool
        <if test="ew != null and ew.sqlSegment != null and ew.sqlSegment.trim().length() > 0">
            ${ew.customSqlSegment}
        </if>
    </select>
</mapper>
