<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benewake.system.mapper.ApsProcessSchemeMapper">

    <resultMap id="BaseResultMap" type="com.benewake.system.entity.ApsProcessScheme">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="currentProcessScheme" column="current_process_scheme" jdbcType="VARCHAR"/>
        <result property="processCapacityId" column="process_capacity_id" jdbcType="INTEGER"/>
        <result property="employeeName" column="employee_name" jdbcType="VARCHAR"/>
        <result property="number" column="number" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,current_process_scheme,process_capacity_id,
        employee_name,number
    </sql>
    <select id="selectProcessScheme" resultType="java.lang.String">
        SELECT
        current_process_scheme
        FROM
        `aps_process_scheme` AS sch
        LEFT JOIN aps_process_capacity AS ca ON sch.process_capacity_id = ca.id
        where sch.number = #{number} and sch.process_capacity_id in
        <foreach collection="processCapacityIds" item="processCapacityId" open="(" close=")" separator=",">
            #{processCapacityId}
        </foreach>
    </select>
    <select id="selectProcessSchemePage" resultType="com.benewake.system.entity.vo.ApsProcessSchemeVo">
        SELECT sch.id,
               sch.current_process_scheme,
               cap.belonging_process,
               cap.product_family,
               cap.process_number,
               pool.process_name,
               cap.packaging_method,
               standard_time,
               employee_name,
               max_personnel,
               min_personnel,
               number
        FROM aps_process_scheme AS sch
                 JOIN aps_process_capacity AS cap ON sch.process_capacity_id = cap.id
                 JOIN aps_process_name_pool AS pool ON cap.process_id = pool.id
        ORDER BY product_family, current_process_scheme, cap.process_number
        LIMIT #{pass},#{size}
    </select>
    <select id="selectProcessSchemeBycurrentProcessScheme"
            resultType="com.benewake.system.entity.vo.ApsProcessSchemeVo">
        SELECT sch.id,
               sch.current_process_scheme,
               cap.belonging_process,
               cap.product_family,
               cap.process_number,
               pool.process_name,
               cap.packaging_method,
               standard_time,
               employee_name,
               max_personnel,
               min_personnel,
               number
        FROM aps_process_scheme AS sch
                 JOIN aps_process_capacity AS cap ON sch.process_capacity_id = cap.id
                 JOIN aps_process_name_pool AS pool ON cap.process_id = pool.id
        where current_process_scheme = #{currentProcessScheme}
        ORDER BY product_family, current_process_scheme, cap.process_number
    </select>
</mapper>
