<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benewake.system.mapper.ApsPcbaVersionMapper">

    <resultMap id="BaseResultMap" type="com.benewake.system.entity.ApsPcbaVersion">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="productionOrderNumber" column="production_order_number" jdbcType="VARCHAR"/>
            <result property="materialCode" column="material_code" jdbcType="VARCHAR"/>
            <result property="materialName" column="material_name" jdbcType="VARCHAR"/>
            <result property="burnInCompletionQuantity" column="burn_in_completion_quantity" jdbcType="VARCHAR"/>
            <result property="burnQualifiedCount" column="burn_qualified_count" jdbcType="VARCHAR"/>
            <result property="burnFixtureNumber" column="burn_fixture_number" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,production_order_number,material_code,
        material_name,burn_in_completion_quantity,burn_qualified_count,
        burn_fixture_number,version
    </sql>
</mapper>
