<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benewake.system.mapper.ApsReceiveNoticeMapper">

    <resultMap id="BaseResultMap" type="com.benewake.system.entity.ApsReceiveNotice">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="fBillNo" column="f_bill_no" jdbcType="VARCHAR"/>
            <result property="fMaterialId" column="f_material_id" jdbcType="VARCHAR"/>
            <result property="fMustQty" column="f_must_qty" jdbcType="VARCHAR"/>
            <result property="fCheckQty" column="f_check_qty" jdbcType="VARCHAR"/>
            <result property="fReceiveQty" column="f_receive_qty" jdbcType="VARCHAR"/>
            <result property="fCsnReceiveBaseQty" column="f_csn_receive_base_qty" jdbcType="VARCHAR"/>
            <result property="fInStockQty" column="f_in_stock_qty" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,f_bill_no,f_material_id,
        f_must_qty,f_check_qty,f_receive_qty,
        f_csn_receive_base_qty,f_in_stock_qty,version
    </sql>
</mapper>
