<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benewake.system.mapper.ApsSemiFinishedGoodsMaterialShortageAnalysisMapper">

    <resultMap id="BaseResultMap" type="com.benewake.system.entity.ApsSemiFinishedGoodsMaterialShortageAnalysis">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="fTaskId" column="f_task_id" jdbcType="VARCHAR"/>
            <result property="fParentCode" column="f_parent_code" jdbcType="VARCHAR"/>
            <result property="fParentName" column="f_parent_name" jdbcType="VARCHAR"/>
            <result property="fProcess" column="f_process" jdbcType="VARCHAR"/>
            <result property="fSemiCode" column="f_semi_code" jdbcType="VARCHAR"/>
            <result property="fSemiQty" column="f_semi_qty" jdbcType="VARCHAR"/>
            <result property="fSubCode" column="f_sub_code" jdbcType="VARCHAR"/>
            <result property="fSubQty" column="f_sub_qty" jdbcType="VARCHAR"/>
            <result property="fSubDeliveryTime" column="f_sub_delivery_time" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,f_task_id,f_parent_code,
        f_parent_name,f_process,f_semi_code,
        f_semi_qty,f_sub_code,f_sub_qty,
        f_sub_delivery_time,version
    </sql>
</mapper>
