<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benewake.system.mapper.ApsSemiFinishedGoodsMaterialShortageAnalysisMapper">

    <resultMap id="ApsSemiFinishedGoodsMaterialShortageAnalysisDtoMap" type="com.benewake.system.entity.dto.ApsSemiFinishedGoodsMaterialShortageAnalysisDto">
        <id property="id" column="id"/>
        <result property="ftaskId" column="f_task_id"/>
        <result property="fparentCode" column="f_parent_code"/>
        <result property="fparentName" column="f_parent_name"/>
        <result property="fprocess" column="f_process"/>
        <result property="fsemiCode" column="f_semi_code"/>
        <result property="fsemiName" column="f_semi_name"/>
        <result property="fsemiQty" column="f_semi_qty"/>
        <result property="fsubCode" column="f_sub_code"/>
        <result property="fsubName" column="f_sub_name"/>
        <result property="fsubQty" column="f_sub_qty"/>
        <result property="fsubDeliveryTime" column="f_sub_delivery_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,f_task_id,f_parent_code,
        f_parent_name,f_process,f_semi_code,
        f_semi_qty,f_sub_code,f_sub_qty,
        f_sub_delivery_time,version
    </sql>

    <select id="selectPageList"
           resultMap="ApsSemiFinishedGoodsMaterialShortageAnalysisDtoMap">
        SELECT an.id,
               f_task_id,
               f_parent_code,
               map.f_material_name  as f_parent_name,
               f_process,
               f_semi_code,
               map1.f_material_name as f_semi_name,
               f_semi_qty,
               f_sub_code,
               map2.f_material_name as f_sub_code,
               f_sub_qty,
               f_sub_delivery_time
        FROM aps_semi_finished_goods_material_shortage_analysis AS an
                 LEFT JOIN aps_material_name_mapping AS map ON an.f_parent_code = map.f_material_id
                 LEFT JOIN aps_material_name_mapping AS map1 ON an.f_semi_code = map1.f_material_id
                 LEFT JOIN aps_material_name_mapping AS map2 ON an.f_sub_code = map2.f_material_id
        where version = #{apsTableVersion}
    </select>
    <select id="queryPageList"
           resultMap="ApsSemiFinishedGoodsMaterialShortageAnalysisDtoMap">
        SELECT an.id,
               f_task_id,
               f_parent_code,
               map.f_material_name  as f_parent_name,
               f_process,
               f_semi_code,
               map1.f_material_name as f_semi_name,
               f_semi_qty,
               f_sub_code,
               map2.f_material_name as f_sub_name,
               f_sub_qty,
               f_sub_delivery_time
        FROM aps_semi_finished_goods_material_shortage_analysis AS an
                 LEFT JOIN aps_material_name_mapping AS map ON an.f_parent_code = map.f_material_id
                 LEFT JOIN aps_material_name_mapping AS map1 ON an.f_semi_code = map1.f_material_id
                 LEFT JOIN aps_material_name_mapping AS map2 ON an.f_sub_code = map2.f_material_id
            ${ew.customSqlSegment}
    </select>
    <select id="searchLike"
            resultMap="ApsSemiFinishedGoodsMaterialShortageAnalysisDtoMap">
        SELECT DISTINCT ${ew.sqlSelect}
        FROM aps_semi_finished_goods_material_shortage_analysis AS an
                 LEFT JOIN aps_material_name_mapping AS map ON an.f_parent_code = map.f_material_id
                 LEFT JOIN aps_material_name_mapping AS map1 ON an.f_semi_code = map1.f_material_id
                 LEFT JOIN aps_material_name_mapping AS map2 ON an.f_sub_code = map2.f_material_id
            ${ew.customSqlSegment}
    </select>
</mapper>
