<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benewake.system.mapper.ApsSearchHistoryMapper">

    <resultMap id="BaseResultMap" type="com.benewake.system.entity.ApsSearchHistory">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="colId" column="col_id" jdbcType="VARCHAR"/>
            <result property="searchQuery" column="search_query" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,col_id,
        search_query
    </sql>
</mapper>
