<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benewake.system.mapper.ApsTableUpdateDateMapper">

    <resultMap id="BaseResultMap" type="com.benewake.system.entity.ApsTableUpdateDate">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="tableId" column="table_id" jdbcType="INTEGER"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,table_id,update_date
    </sql>
</mapper>
