<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benewake.system.mapper.ApsTfminiSSnLabelingMapper">

    <resultMap id="BaseResultMap" type="com.benewake.system.entity.ApsTfminiSSnLabeling">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="productionOrderNumber" column="production_order_number" jdbcType="VARCHAR"/>
        <result property="materialCode" column="material_code" jdbcType="VARCHAR"/>
<!--        <result property="materialName" column="material_name" jdbcType="VARCHAR"/>-->
        <result property="burnInCompletionQuantity" column="burn_in_completion_quantity" jdbcType="VARCHAR"/>
        <result property="burnQualifiedCount" column="burn_qualified_count" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="totalNumber" column="total_number" jdbcType="VARCHAR"/>
        <result property="unBurnQualifiedCount" column="un_burn_qualified_count" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,production_order_number,material_code,
        material_name,burn_in_completion_quantity,
        burn_qualified_count,total_number,un_burn_qualified_count,version
    </sql>
    <insert id="insertVersionIncr">
        INSERT INTO aps_tfmini_s_sn_labeling (production_order_number, material_code,
                                     material_name, burn_in_completion_quantity,
                                     burn_qualified_count, total_number, un_burn_qualified_count, version)
        SELECT production_order_number,
               material_code,
               material_name,
               burn_in_completion_quantity,
               burn_qualified_count,
               total_number,
               un_burn_qualified_count,
               version + 1
        FROM `aps_tfmini_s_sn_labeling`
        WHERE version = (
            SELECT max(version)
            FROM aps_tfmini_s_sn_labeling)
    </insert>
    <select id="selectPageList" resultType="com.benewake.system.entity.dto.ApsTfminiSSnLabelingDto">
        SELECT
        sn.id,production_order_number,material_code,
        map.f_material_name as material_name,burn_in_completion_quantity,
        burn_qualified_count,total_number,un_burn_qualified_count,
        ch_version_name AS version
        FROM
        (
        SELECT *,
        CASE
        <foreach collection="versions" item="item" separator=" ">
            WHEN version = #{item.version} THEN #{item.chVersionName}
        </foreach>
        END AS ch_version_name
        FROM aps_tfmini_s_sn_labeling
        WHERE version IN
        <foreach collection="versions" item="item" open="(" separator="," close=")">
            #{item.version}
        </foreach>
        ) AS sn
        LEFT JOIN
        aps_material_name_mapping AS map ON sn.material_code = map.f_material_id
        ORDER BY sn.version desc
    </select>
</mapper>
